@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------
RESET
---------------------------------*/
* {
  font-family: 'Oswald', sans-serif;
}

html, body {
  background-color: #1d140b;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  position: relative; /* Adicionado para permitir o uso de elementos fixos */
}


p {
  color: #767676;
  line-height: 23px;
  font-family: 'Nunito', sans-serif;
}


.btn {
  background-color: #da4747; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  font-size: 10px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno */
  letter-spacing: 3px; /* Espaçamento entre letras */
  font-weight: 500; /* Peso da fonte */
  border-radius: 8px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento do texto */
  text-transform: uppercase; /* Texto em maiúsculas */
  border: 15px; /* Borda (ajustar conforme necessário) */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: 0.3s; /* Transição para efeitos */
}
.btnn {
  background-color: #da4747; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  font-size: 10px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno */
  letter-spacing: 3px; /* Espaçamento entre letras */
  font-weight: 500; /* Peso da fonte */
  border-radius: 8px; /* Bordas arredondadas */
  text-align: center; /* Alinhamento do texto */
  text-transform: uppercase; /* Texto em maiúsculas */
  border: 15px; /* Borda (ajustar conforme necessário) */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: 0.3s; /* Transição para efeitos */
}


.btn--opacity {
  animation: opacity 3s;
}

.sect {
  text-align: center; /* Centraliza o texto dentro da seção */
  max-height: 100%;
  padding: 180px 0;
  
}
.row--center {
  height: auto; /* Remova a altura fixa se necessário */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  gap: 20px; /* Ajuste o espaçamento conforme necessário */
}
.container {

  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column; /* Alinha os itens verticalmente */
}
.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens dentro da coluna */
  text-align: center; /* Centraliza o texto */
}
img {
  display: block; /* Para remover o espaço em branco abaixo das imagens */
  margin: 0 auto; /* Centraliza a imagem */
}
.logo {
  width: 800px;
  height: 130px;
  background-image: url('/images/log.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 90px;
  margin-top: -100px; /* Ajuste essa medida conforme necessário */
}
.sect__title {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 10px;
  font-size: 17px;
  margin-bottom: 20px;
  
  
}

.sect__subtitle {
  line-height: 15px;
  font-size: 15px;
  margin-top: 0.3em;
  margin-bottom: 3em;
  
}
.sect--no-bottom {
  padding-bottom:0;
}
.sect--brown {
  
  max-height: 90%;
  background-color: #1d140b;
}
.sect--white-text {
  
  color: #fff;
}
.story-img {
 width: 100%; /* Ajuste o tamanho da imagem conforme necessário */
  height: 150px;

}

.storys-img {
  background-image: url("./images/nutri.png");
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Não repete a imagem */
  background-size: contain; /* Mantém a proporção correta */
  width: 50%; /* Largura do elemento */
  max-width: 800px; /* Ajuste para telas maiores */
  min-height: 300px; /* Garantindo que fique visível */
  margin: 20px auto; /* Centraliza horizontalmente e espaço acima e abaixo */
  display: flex; /* Permite alinhamento flexível */
  justify-content: center; /* Centraliza conteúdo se houver */
  margin-bottom: 4em;
  align-items: center; /* Centraliza conteúdo verticalmente se houver */
}
.flex-container {
  
  display: flex; /* Usar flexbox */
  align-items: flex-start; /* Alinha os itens ao topo */
  margin-bottom: 10em;
}

@media (max-width: 768px) {
  .logo-container {
      align-items: center; /* Alinhamento central em telas menores */
  }
}
.info-text {
    text-align: center;
    margin: 4em auto;
    margin-bottom: -5em;
    padding-bottom: 7em;
    
    
   }
  
  
.red-star {
    color: red !important;
}
.info-text li {
  color: white; /* Cor do texto */
  max-width: 100%;
  font-size: 15px; /* Tamanho da fonte padrão */
  line-height: 0.5; /* Espaçamento entre linhas */
  margin-bottom: 9px; /* Espaçamento entre itens da lista */
  display: flex; /* Usado para alinhar o ícone e o texto */
  align-items: center; /* Centraliza verticalmente os itens */
  padding-right: 40px;
}

.info-text li span {
  margin-right: 8px; /* Espaçamento entre ícone e texto */
  font-size: 20px; /* Tamanho do ícone */
}

.recommendations {
  display: flex; /* Usar flexbox para alinhar as recomendações */
  justify-content: space-around; /* Espaço igual entre as recomendações */
  align-items: flex-start; /* Alinha os itens ao topo */
  flex-wrap: wrap; /* Para que os itens se ajustem em dispositivos menores */
  padding: 20px; /* Espaço ao redor da seção */

}

.recommendation {
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  flex: 1; /* Permite que cada item cresça igualmente */
  margin: 0 10px; /* Espaço entre os itens */
  transition: transform 0.3s; /* Transição suave para o efeito hover */
}

.recommendation:hover {
  transform: translateY(-5px); /* Eleva o cartão ao passar o mouse */
}

.recommendation img {
  width: 100px; /* Tamanho da imagem */
  height: 100px; /* Mantém a proporção da imagem */
  border-radius: 50%; /* Imagem redonda */
  object-fit: cover; /* Mantém a proporção da imagem */
  margin-bottom: 39px; /* Espaço abaixo da imagem */
}

.recommendation h2 {
  font-size: 1.0rem; /* Tamanho do nome */
  margin: 10px 0; /* Margem acima e abaixo do nome */
  font-weight: bold; /* Negrito */
  color: #fafafa; /* Cor do texto */
}

.recommendation p {
  line-height: 12px; /* Altura da linha */
  font-size: 0.7rem; /* Tamanho do feedback */
  margin: 10px auto; /* Margem acima e abaixo do feedback, centraliza horizontalmente */
  color: #fafafa; /* Cor do texto */
  max-width: 80%; /* Largura máxima */
  text-align: center; /* Centraliza o texto */
}

.recommendation span {
  font-size: 1.5rem; /* Tamanho da estrela */
  color: red; /* Cor da estrela */
}

.storys-img:hover {
  transform: scale(1.45); /* Aumenta a imagem em 5% ao passar o mouse */
}



.coffee__imgt {
  position: relative;
  top: 1.8em;
  display: block;
  max-width: 110px;
  height: auto;
  min-height: 100px;
  z-index: 1; /* Mantém a imagem acima */
  
}

.coffee__imgtt {
  position: relative;
  top: -7em;
  display: block;
  max-width: 80px;
  height: auto;
  min-height: 80px;
  z-index: 0; /* Mantém a imagem acima */
  animation: pulseBorder 1.5s infinite ease-in-out; /* Animação de luz pulsante na borda */

}


.coffee_imge {
  position: relative;
  top: -8em;
  display: block;
  max-width: 90px;
  height: auto;
  min-height: 100px;
  z-index: 0; /* Mantém a imagem acima */
  animation: pulseBorder 1.5s infinite ease-in-out; /* Animação de luz pulsante na borda */

}

.coffee_img {
  position: relative;
  top: 2.4em;
  display: block;
  max-width: 112px;
  height: auto;
  min-height: 100px;
  z-index: 1; /* Mantém a imagem acima */
}

.glow-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%; /* Garante que a luz se espalhe */
  height: 120%;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 80%);
  filter: blur(50px);
  border-radius: 15px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  
}








.col--inbl {
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline-block;
  float: none;
}


.row--small {
  max-width: 1060px;
  margin: 0 auto;
}

.row--margin {
  max-width: 700px;
  margin-bottom: 4px;
}


/*--------------------------------
BANNER
---------------------------------*/
.banner {
  background-image: url("./images/bg3.png");
  background-color: #1d140b;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100vh; /* Ajuste para ocupar toda a altura da tela */
  position: relative;
}


.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: banner-in 2s;
}

.banner__container {
  display: table-cell;
  vertical-align: middle;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
}

.banner__title {
  font-size: 36px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 7px;
  letter-spacing: 2px;
  font-weight: 500;
  animation: opacity 3s;
  z-index: 1;
}


.banner__text {
  letter-spacing: initial;
  font-size: 15px;
  color: #fff;
}

.line {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid rgba(255, 255, 255, 0.75); /* Cursor piscante */
}



/*--------------------------------
Sessão Tabela Nutricional
---------------------------------*/
.sect--type {
  background-image: url('https://image.ibb.co/nNCuib/coffee_item_10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__titlee {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 0px;
}

.sect__subtitlee {
  position: relative;
  left: 54em;
  font-size: 15px;
  margin-top: 0.3em;
}




/* Ajuste de imagens */
.coffee__img {
  max-width: 100%; /* Ajustado para garantir responsividade */
  height: auto; /* Mantém a proporção */
}



.coffee__descr {
  font-size: 12px;
  line-height: 1.5;
  color: #666; /* Suavizando a cor para manter a harmonia visual */
}

/* Ajuste de margens e paddings */
.coffee {
  padding: 10px 20px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Centralização da linha */
.row--center {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Ajusta o espaçamento entre os itens */
}

.row--top-20 {
  margin-top: 10%;
}

/* Botão */


.btn:hover {
  background-color: #f07c6f;
}

/*--------------------------------
STORY
---------------------------------*/
.story-img {
  background-image: url('');
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION 
---------------------------------*/
.half-sect__second {
  background-image: url('http://image.ibb.co/c339Yb/section_bg_9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color: #fff;
}

.half-sect__first {
  padding: 10px;
  background-color: #fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/* Container para alinhar os artigos em linha */
.last-articles {

  margin-top: 532px;
  display: flex;
  flex-direction: row; /* Mantém os itens em linha (horizontal) */
  justify-content: space-between; /* Ajusta o espaçamento */
  align-items: flex-start; /* Mantém o alinhamento superior */
  max-width: 90%; /* Ajusta a largura máxima do container */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

/* Ajustando as imagens */
.article-pre__img {
  width: 100%; /* Garante que ocupe toda a largura do container */
  height: 200px; /* Defina um tamanho fixo para as imagens */
  background-size: cover; /* Garante que as imagens fiquem bem ajustadas */
  background-position: center;
  background-repeat: no-repeat;
}

/* Ajustando a largura das colunas */
.article-pre {
  background-color: #fff;
  width: 32%; /* Ajusta a largura para melhor encaixe */
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

/* Ajustando o título */
.article-pre__title {
  
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.article-pre__date {
  
  color: #767676;
  line-height: 23px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

/* Ajustando o conteúdo */
.article-pre__info {
  padding: 15px;
  text-align: center;
  font-size: 10px;
}

.article-pre__info {
  padding: 25px 20px 20px 20px;
}

.article-pre__ex {
  margin: 0;
  line-height: 22px;
}

.article-pre-1 .article-pre__img {
  
  background-image: url('https://images.pexels.com/photos/374592/pexels-photo-374592.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-2 .article-pre__img {
  background-image: url('https://images.pexels.com/photos/64775/pexels-photo-64775.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-3 .article-pre__img {
  background-image: url('https://static.pexels.com/photos/373888/pexels-photo-373888.jpeg');
}






/*--------------------------------
FOOTER
/* Rodapé */
.footer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  position: fixed; 
  bottom: 0;
  left: 0; 
  z-index: -1; 
  padding: 2px; 
  background: rgba(255, 255, 255, 0.052); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(255, 255, 255, 0.5); 
  transition: all 0.3s ease; 
}

.footer:hover {
  transform: translateY(-2px); 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 0 50px rgba(255, 255, 255, 0.7); 
}

.logo-container {
  display: flex;
  justify-content: center; 
  margin-bottom: -30px; 
}

.footer__logo {
  width: 500px; 
  height: 130px;
  background-image: url('/images/log.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contact-info {
  text-align: center; 
  margin-bottom: -10px; 
}

.cert-container {
  text-align: center; 
  margin-bottom: 10px; 
}

.cert-images {
  display: flex; 
  justify-content: center; 
  margin-top: 10px; 
}

.cert-logo {
  width: 55px; 
  margin: 0 5px; 
}

.footer-rights {
  color: white;
  font-size: 11px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(202, 56, 56, 0.3); 
  text-align: center; 
}

/* Efeitos de texto */
.phone-number, .support-email {
  color: white; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(202, 56, 56, 0.3); 
}

.footer__title {
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0; /* Ajusta a margem */
  color: #ca3838;
  text-shadow: 0 0 5px rgba(202, 56, 56, 0.5), 0 0 10px rgba(202, 56, 56, 0.3); 
}

/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width: 1024px) {
  .article-pre__info {
    max-width: 100px;
  padding: 15px 10px 10px 10px;
}

.article-pre__ex {
  margin: 0;
}

  .sect {
    padding: 80px 0;
  }
  .row--margin {
    margin-top: 1px;
  }
  .banner__title {
    font-size: 54px;
  }
  .sect__title, .sect__subtitle, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 18px;
  }
  .last-articles {
   
    margin-bottom: 3px;
  }
  .sect__subtitle {
    line-height: 38px;
    font-size: 12px;
  }

  .half-sect__first {
    padding: 100px;
  }
  .three-img__img {
    padding-bottom: 10%;
  }
  .sect--no-bottom {
    padding-bottom: 0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer {
    display: none;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .sect {
    padding: 80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img {
    width: 100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles {
    margin-bottom: 30px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 18px;
  }
  .footer__half {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 48px;
  }
  .three-img {
    height: auto;
  }
  .sect {
    padding: 60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee {
    margin-bottom: 30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr, .sect__subtitle {
    position: relative;
    bottom: 0em;
    padding: 0 50px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 36px;
    font-size: 16px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre {
    margin-bottom: 5px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second {
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 44px;
  }
  .sect {
    padding: 50px 0;
  }
  .sect__title, .description__title {
    line-height: 30px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 75px;
  }
  .sect__subtitle {
    padding: 0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width: 100%;
  }

  .footer__half {
    padding: 35px 35px;
  }
  .footer__desc {
    margin-bottom: 10px;
  }
}
/* Ajustes para dispositivos móveis */
@media screen and (max-width: 1024px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 16px;
    margin-bottom: 3em;
    max-width: 90%; /* Limita a largura do texto */
    left: 3em; /* Ajusta a posição do texto */
    white-space: normal; /* Permite a quebra de linha */
    line-height: 1.5; /* Adiciona espaçamento entre as linhas */
    animation: typing 8s steps(120, end) forwards, blink 0.6s infinite; /* Ajusta o tempo da animação */
  }
}

@media screen and (max-width: 767px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 14px; /* Diminui o tamanho da fonte */
    max-width: 75%; /* Limita a largura para dispositivos menores */
    left: 2em; /* Ajusta a posição */
    white-space: normal; /* Permite quebra de linha */
    line-height: 1.4; /* Espaçamento entre linhas */
    animation: typing 10s steps(140, end) forwards, blink 0.6s infinite; /* Aumenta o tempo da animação */
  }
}

@media screen and (max-width: 480px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 12px; /* Ajusta ainda mais o tamanho da fonte */
    max-width: 90%; /* Limita o texto a 90% da largura */
    left: 1em; /* Reposiciona para evitar excesso lateral */
    white-space: normal; /* Permite quebra de linha */
    line-height: 1.3; /* Espaçamento entre linhas menor para telas muito pequenas */
    animation: typing 12s steps(160, end) forwards, blink 0.6s infinite; /* Ajusta o tempo para o texto longo */
  }
}

/* Media Query para telas menores */
@media screen and (max-width: 1024px) {
  .btnn {
    position: relative;
    left: 9em;
    font-size: 15px; /* Reduzir o tamanho da fonte */
    padding: 22px 18px; /* Ajustar o espaçamento */
  }
}

@media screen and (max-width: 767px) {
  .btnn {
    font-size: 17px; /* Reduzir ainda mais o tamanho da fonte */
    padding: 26px 13px; /* Ajustar o espaçamento */
    top: 10px; /* Ajustar a posição */
  }
}

@media screen and (max-width: 480px) {
  .btnn {
    font-size: 14px; /* Tamanho da fonte menor */
    padding: 15px 5px; /* Ajustar o espaçamento */
    top: 8px; /* Ajustar a posição */
    letter-spacing: 2px; /* Reduzir o espaçamento entre letras */
  }
}

/* Media Query para telas menores */
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 19px; /* Reduzir o tamanho da fonte */
    padding: 32px 18px; /* Ajustar o espaçamento */
  }
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 17px; /* Reduzir ainda mais o tamanho da fonte */
    padding: 26px 13px; /* Ajustar o espaçamento */
    top: 10px; /* Ajustar a posição */
  }
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 14px; /* Tamanho da fonte menor */
    padding: 15px 5px; /* Ajustar o espaçamento */
    top: 8px; /* Ajustar a posição */
    letter-spacing: 2px; /* Reduzir o espaçamento entre letras */
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .info-text li {
    font-size: 14px; /* Reduzir o tamanho da fonte em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .info-text li {
    font-size: 12px; /* Tamanho da fonte ainda menor para dispositivos muito pequenos */
  }
}
@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 220px 55px rgba(235, 104, 104, 0.5); /* Luz suave inicial */
  }
  50% {
    box-shadow: 0 0 240px 55px rgba(248, 156, 156, 0.7); /* Luz mais intensa */
  }
  100% {
    box-shadow: 0 0 220px 55px rgba(255, 0, 0, 0.5); /* Retorna ao estado original */
  }
}

@media (max-width: 1024px) {
  .storys-img {
    position: relative;
    top: 6px;
    left: 0; /* Remover o deslocamento em telas menores */
    width: 20%; /* Garantir que ocupe toda a largura disponível */
    min-height: 200px; /* Ajuste a altura em telas menores */
    margin-top: 10px; /* Reduzir o espaçamento em telas menores */
    border: 4px solid rgba(255, 0, 0, 0.1); /* Ajustar o tamanho da borda em telas menores */
  }
}

@media (max-width: 768px) {
  .storys-img {
    left: 0; /* Remover o deslocamento em telas menores */
    width: 100%; /* Garantir que ocupe toda a largura disponível */
    min-height: 500px; /* Ajuste a altura em telas menores */
    margin-top: 10px; /* Reduzir o espaçamento em telas menores */
    border: 4px solid rgba(255, 0, 0, 0.8); /* Ajustar o tamanho da borda em telas menores */
  }
}

@media (max-width: 480px) {
  .storys-img {
    min-height: 300px; /* Menor altura em dispositivos muito pequenos */
    border: 3px solid rgba(255, 0, 0, 0.8); /* Ajustar o tamanho da borda em dispositivos muito pequenos */
  }
}
/*--------------------------------
ANIMATION
---------------------------------*/
@keyframes banner-in {
  0% {  
    background-color: rgba(0, 0, 0, 1);
  }
  100% { 
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes opacity {
  0% {  
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
