@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------
RESET
---------------------------------*/
* {
  font-family: 'Oswald', sans-serif;
}

html, body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  position: relative; /* Adicionado para permitir o uso de elementos fixos */
}

.container {
  flex: 0; /* Faz com que o conteúdo principal ocupe todo o espaço disponível */
}

/*--------------------------------
GLOBAL
---------------------------------*/

p {
  color: #767676;
  line-height: 23px;
  font-family: 'Nunito', sans-serif;
}

.btn {
  color: #fff;
  padding: 30px 20px;
  position: relative;
  top: 14px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #da4747;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  
  max-height: 100%;
  padding: 180px 0;
  
}

.sect--brown {
  height: 10%;
  max-height: 10%;
  background-color: #1d140b;
}

.story-img {
 width: 100%; /* Ajuste o tamanho da imagem conforme necessário */
  height: 150px;

}


.storys-img {
  background-image: url("./images/nutri.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* Mantém a proporção correta */
  width: 38%;
  position: relative;
  right: 25em;
  top: 13em;
  margin-top: 20px;
  max-width: 800px; /* Ajuste para telas maiores */
  height: auto;
  min-height: 800px; /* Garantindo que fique visível */
  margin-top: 20px; /* Espaço abaixo do texto */
  
  border: 5px solid rgba(255, 0, 0, 0.3); /* Borda vermelha constante */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); /* Sombra vermelha clara */
  transition: box-shadow 0.3s ease-in-out; /* Transição suave para a sombra */
  
 
}


.coffee__imgt {
  position: relative;
  top: 1.8em;
  display: block;
  max-width: 110px;
  height: auto;
  min-height: 100px;
  z-index: 1; /* Mantém a imagem acima */
  
}

.coffee__imgtt {
  position: relative;
  top: -7em;
  display: block;
  max-width: 80px;
  height: auto;
  min-height: 80px;
  z-index: 0; /* Mantém a imagem acima */
  animation: pulseBorder 1.5s infinite ease-in-out; /* Animação de luz pulsante na borda */

}


.coffee_imge {
  position: relative;
  top: -8em;
  display: block;
  max-width: 100px;
  height: auto;
  min-height: 100px;
  z-index: 0; /* Mantém a imagem acima */
  animation: pulseBorder 1.5s infinite ease-in-out; /* Animação de luz pulsante na borda */

}

.coffee_img {
  position: relative;
  top: 3em;
  display: block;
  max-width: 120px;
  height: auto;
  min-height: 100px;
  z-index: 1; /* Mantém a imagem acima */
}

.glow-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%; /* Garante que a luz se espalhe */
  height: 120%;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 80%);
  filter: blur(50px);
  border-radius: 15px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  
}


@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 220px 55px rgba(235, 104, 104, 0.5); /* Luz suave inicial */
  }
  50% {
    box-shadow: 0 0 240px 55px rgba(248, 156, 156, 0.7); /* Luz mais intensa */
  }
  100% {
    box-shadow: 0 0 220px 55px rgba(255, 0, 0, 0.5); /* Retorna ao estado original */
  }
}

@media (max-width: 768px) {
  .storys-img {
    left: 0; /* Remover o deslocamento em telas menores */
    width: 100%; /* Garantir que ocupe toda a largura disponível */
    min-height: 500px; /* Ajuste a altura em telas menores */
    margin-top: 10px; /* Reduzir o espaçamento em telas menores */
    border: 4px solid rgba(255, 0, 0, 0.8); /* Ajustar o tamanho da borda em telas menores */
  }
}

@media (max-width: 480px) {
  .storys-img {
    min-height: 300px; /* Menor altura em dispositivos muito pequenos */
    border: 3px solid rgba(255, 0, 0, 0.8); /* Ajustar o tamanho da borda em dispositivos muito pequenos */
  }
}




.sect--grey {
  height: 40%;
  background-color: #ebebeb;
}

.sect--no-bottom {
  padding-bottom:0;
}

.sect--white-text {
  
  color: #fff;
}

.col--inbl {
  margin-top: 10px;
  margin-bottom: -80px;
  display: inline-block;
  float: none;
}

.row--center {
  
  text-align: center;
}

.row--small {
  max-width: 1060px;
  margin: 0 auto;
}

.row--margin {
  margin-bottom: 16px;
}

/*--------------------------------
ANIMATION
---------------------------------*/
@keyframes banner-in {
  0% {  
    background-color: rgba(0, 0, 0, 1);
  }
  100% { 
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes opacity {
  0% {  
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

/*--------------------------------
BANNER
---------------------------------*/
.banner {
  background-image: url("./images/bg3.png");
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100vh; /* Ajuste para ocupar toda a altura da tela */
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: banner-in 2s;
}

.banner__container {
  display: table-cell;
  vertical-align: middle;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
}

.banner__title {
  font-size: 36px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 7px;
  letter-spacing: 2px;
  font-weight: 500;
  animation: opacity 3s;
}


.banner__text {
  letter-spacing: initial;
  position: relative;
  left: 35em;
  font-size: 15px;
  color: #fff;
}

.line {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid rgba(255, 255, 255, 0.75); /* Cursor piscante */
}

.line1 {
  
  animation: typing-line1 4s steps(80, end) forwards, blink 0.6s infinite;
}
@keyframes remove-cursor {
  0% {
    border-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-color: transparent;
  }
}

.line2 {
  opacity: 0; /* Começa invisível */
  animation: typing-line2 9s steps(80, end) forwards, fade-in 0.5s 4s forwards, blink 0.6s infinite;
}

/* Animação de digitação da linha 1 */
@keyframes typing-line1 {
  from {
    max-width: 0;
  }
  to {
    max-width: 34.6%; /* Ajuste para se adaptar ao conteúdo */
  }
  0% {
    max-width: 0;
    border-color: rgba(255, 255, 255, 0.75); /* Cursor visível no início */
  }
  99% {
    border-color: rgba(255, 255, 255, 0.75); /* Cursor visível até quase o final */
  }
  100% {
    max-width: 43.1%; /* Ajuste para se adaptar ao conteúdo */
    border-color: transparent; /* Remove o cursor no final */
  }
}

/* Animação de digitação da linha 2 */
@keyframes typing-line2 {
  from {
    max-width: 0;
  }
  to {
    max-width: 41.4%; /* Ajuste para se adaptar ao conteúdo */
  }
}

/* Controle de visibilidade da linha 2 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação do cursor piscante */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}



/* Ajustes para dispositivos móveis */
@media screen and (max-width: 1024px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 16px;
    max-width: 80%; /* Limita a largura do texto */
    left: 25em; /* Ajusta a posição do texto */
    white-space: normal; /* Permite a quebra de linha */
    line-height: 1.5; /* Adiciona espaçamento entre as linhas */
    animation: typing 8s steps(120, end) forwards, blink 0.6s infinite; /* Ajusta o tempo da animação */
  }
}

@media screen and (max-width: 767px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 14px; /* Diminui o tamanho da fonte */
    max-width: 75%; /* Limita a largura para dispositivos menores */
    left: 2em; /* Ajusta a posição */
    white-space: normal; /* Permite quebra de linha */
    line-height: 1.4; /* Espaçamento entre linhas */
    animation: typing 10s steps(140, end) forwards, blink 0.6s infinite; /* Aumenta o tempo da animação */
  }
}

@media screen and (max-width: 480px) {
  .banner__text {
    white-space: normal; /* Permite quebra de linha em dispositivos móveis */
    font-size: 12px; /* Ajusta ainda mais o tamanho da fonte */
    max-width: 90%; /* Limita o texto a 90% da largura */
    left: 1em; /* Reposiciona para evitar excesso lateral */
    white-space: normal; /* Permite quebra de linha */
    line-height: 1.3; /* Espaçamento entre linhas menor para telas muito pequenas */
    animation: typing 12s steps(160, end) forwards, blink 0.6s infinite; /* Ajusta o tempo para o texto longo */
  }
}







/*--------------------------------
TYPE OF COFFEE
---------------------------------*/
.sect--type {
  background-image: url('https://image.ibb.co/nNCuib/coffee_item_10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
  position: relative;
  bottom: 8em;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 0px;
}

.sect__subtitle {
  position: relative;
  bottom: 15em;
  font-size: 10px;
  margin-bottom: 0;
}

/* Ajuste de largura das colunas */
.col-md-4, .col-sm-4 {
  width: 50%;  /* Ajustado para garantir o alinhamento correto */
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Ajuste de imagens */
.coffee__img {
  max-width: 100%; /* Ajustado para garantir responsividade */
  height: auto; /* Mantém a proporção */
}



.coffee__descr {
  font-size: 12px;
  line-height: 1.5;
  color: #666; /* Suavizando a cor para manter a harmonia visual */
}

/* Ajuste de margens e paddings */
.coffee {
  padding: 10px 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Centralização da linha */
.row--center {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Ajusta o espaçamento entre os itens */
}

.row--top-20 {
  margin-top: 10%;
}

/* Botão */
.btn {
  background-color: #da4747;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c0392b;
}

/*--------------------------------
STORY
---------------------------------*/
.story-img {
  background-image: url('');
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION 
---------------------------------*/
.half-sect__second {
  background-image: url('http://image.ibb.co/c339Yb/section_bg_9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color: #fff;
}

.half-sect__first {
  padding: 150px;
  background-color: #fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/*--------------------------------
GREAT COFFEE
---------------------------------*/


/*--------------------------------
THE BEST COFFEE SHOP
---------------------------------*/
.sect--best {
  
  background-image: url('https://image.ibb.co/mh6S3b/section_bg_3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0;
  background-color: #000;
}

.best__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #daa37f;
}

.best__img {
  width: 50px;
}

.best--margin {
  margin-top: 20px;
  margin-bottom: 40px;
}

.best--bottom {
  margin-bottom: 40px;
}

/*--------------------------------
BLOG IMAGES
---------------------------------*/

/* Container para alinhar os artigos em linha */
.last-articles {

  margin-top: 532px;
  display: flex;
  flex-direction: row; /* Mantém os itens em linha (horizontal) */
  justify-content: space-between; /* Ajusta o espaçamento */
  align-items: flex-start; /* Mantém o alinhamento superior */
  max-width: 90%; /* Ajusta a largura máxima do container */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

/* Ajustando as imagens */
.article-pre__img {
  width: 100%; /* Garante que ocupe toda a largura do container */
  height: 200px; /* Defina um tamanho fixo para as imagens */
  background-size: cover; /* Garante que as imagens fiquem bem ajustadas */
  background-position: center;
  background-repeat: no-repeat;
}

/* Ajustando a largura das colunas */
.article-pre {
  position: relative;
  bottom: 28em;
  background-color: #fff;
  width: 32%; /* Ajusta a largura para melhor encaixe */
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

/* Ajustando o título */
.article-pre__title {
  
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.article-pre__date {
  
  color: #767676;
  line-height: 23px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

/* Ajustando o conteúdo */
.article-pre__info {
  padding: 15px;
  text-align: center;
}

.article-pre__info {
  padding: 25px 20px 20px 20px;
}

.article-pre__ex {
  margin: 0;
  line-height: 22px;
}

.article-pre-1 .article-pre__img {
  background-image: url('https://images.pexels.com/photos/374592/pexels-photo-374592.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-2 .article-pre__img {
  background-image: url('https://images.pexels.com/photos/64775/pexels-photo-64775.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-3 .article-pre__img {
  background-image: url('https://static.pexels.com/photos/373888/pexels-photo-373888.jpeg');
}

/*--------------------------------
FOOTER
---------------------------------*/
.footer {
  display: table;
  width: 100%;
  position: fixed; /* Mantém o footer fixo na parte inferior */
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
  width: 50%;
  display: table-cell;
  padding: 100px 140px;
}

.footer__half-1 {
  background-image: url('https://image.ibb.co/mRGjDm/section_bg_7.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__half-2 {
  background-color: #000;
}

.footer__big-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #daa37f;
}

.footer__desc {
  color: #d7d7d7;
  margin-bottom: 25px;
}

/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width: 1024px) {
  .sect {
    padding: 100px 0;
  }
  .row--margin {
    margin-top: 55px;
  }
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first {
    padding: 100px;
  }
  .three-img__img {
    padding-bottom: 40%;
  }
  .sect--no-bottom {
    padding-bottom: 0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer {
    display: none;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .sect {
    padding: 80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img {
    width: 100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles {
    margin-bottom: 30px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }
  .footer__half {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 48px;
  }
  .three-img {
    height: auto;
  }
  .sect {
    padding: 60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee {
    margin-bottom: 30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 50px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre {
    margin-bottom: 15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second {
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 480px) {
  .banner__title {
    font-size: 44px;
  }
  .sect {
    padding: 50px 0;
  }
  .sect__title, .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 75px;
  }
  .sect__subtitle {
    padding: 0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width: 100%;
  }

  .footer__half {
    padding: 35px 35px;
  }
  .footer__desc {
    margin-bottom: 10px;
  }
}